<div>
    <h2>Add a new celebrity</h2>
    <br/>
    <form action="/celebrities/create" method="POST" enctype="multipart/form-data">
        <label for="name">Name</label>
        <input type="text" name="name" />
        <hr>
        <label for="occupation">Occupation</label>
        <input type="text" name="occupation" />
        <hr>
        <label for="catchphrase">Catchphrase</label>
        <input type="text" name="catchphrase" />
        <hr>
        <button type="submit">Add</button>
    </form>
</div>